/*Colors*/

$aliceblue: #F0F8FF;    $dodgerblue:#1E90FF;
$aqua: #00FFFF;         $fuchsia: #FF00FF;
$azure: #F0FFFF;        $goldenrod: #DAA520;
$bisque: #FFE4C4;       $green: #008000;
$blueviolet: #8A2BE2;   $white: #FFFFFF;
$burlywood: #DEB887;    $yellow: #FFFF00;
$chartreuse: #7FFF00;   $lightgreen: #90EE90;
$coral: #FF7F50;        $aquamarine: #7FFFD4;
$cyan: #00FFFF;         $black: #000000;
$darkcyan: #008B8B;     $lime: #00FF00;
$darkgray: #A9A9A9;     $grey: #808080;
$darkmagenta: #8B008B;  $blue: #0000FF;
$darkorange: #FF8C00;   $orange: #FFA500;
$darkred: #8B0000;      $red: #FF0000;
$deeppink: #FF1493;     $lightpink: #FFB6C1;
$brown:#A52A2A;
$chocolate:#D2691E;
$darkblue: #005589;
$darkgreen: #006400;
$gold: #FFD700;
$navy: #000080;
$olive: #808000;
