<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clinica Altuve Tu Salud en las mejores manos">
    <meta name="keywords" content="Clinica, Clinica los angeles de chile, Clinica los Andes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Clinica|Altuve</title>
</head>
<body>

    <div class="padre">
    <header class="header">
        <div class="menu">
            <div class="logo">
                <a href="../index.html"><img class="img-logo" src="../img/clinica_altuve.png" alt="LOGO DE CLINICA ALTUVE"></a>
            </div>
            <nav class="nav">
                <a href="../index.html"><i class="bi bi-house-door-fill"></i>Inicio</a>
                <a href="./laboratorio.html"><i class="bi bi-droplet-fill"></i>Laboratorio</a>
                <a href="#"><i class="bi bi-radioactive"></i>Imagenologia</a>
                <a href="./especialistas.html"><i class="bi bi-person-badge-fill"></i>Especialistas</a>
                <a href="./procedimientos.html"><i class="bi bi-bandaid-fill"></i>Procedimientos</a>
            </nav>
        </div>
    </header>
</div>

    <div class="fondoRX">
    <div class="texto-principa-imagenologia">

        <p>
            En Nuestro centro de salud ofrecemos tecnologías que permiten a los profesionales de la salud visualizar estructuras, órganos y tejidos,
            así como detectar anomalías que podrían indicar la presencia de una enfermedad o lesión.
        </p>
    </div>

    <div class="padreRX">
    <div class="container">
        <div class="card">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                        <img class="img_imagenologia" src="../img/rayosX1.jpg" alt="IMAGEN RADIOLOGIA">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        Radiologia
                    </h3>
                        <p>-Tórax.</p>
                        <p>-Man, rodilla, hombro.</p>
                        <p>-Columna total, cervical, lumbar.</p>
                        <p>-Cadera.</p>
                        <p>-Abdomen simple.</p>
                        <p>-Radiografía Renal/Vesical.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                        <img class="img_imagenologia" src="../img/eco1.png" alt="IMAGEN DE ECOGRAFIA">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        Ecografias
                    </h3>
                        <p>-Abdominal</p>
                        <p>-Renal</p>
                        <p>-Partes Blandas</p>
                        <p>-Doppler Venoso de extremidades</p>
                        <p>-Carotideo</p>
                        <p>-Tiroides</p>
                        <p>-Testicular</p>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="card">
        <div class="slide slide1">
            <div class="content">
                <div class="icon">
                    <img class="img_imagenologia" src="../img/resonancia1.jpg"alt="IMAGEN DE RESONANCIA MAGNETICA">
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="content">
                <h3>
                    Resonancia Magnetica
                </h3>
                    <p>-Abdomen y Pelvis</p>
                    <p>-Cerebro</p>
                    <p>-Vias Biliares</p>
                    <p>-Columna</p>
                    <p>-Músculo Esquelético, rodilla, hombro, codos, cadera.</p>
            </div>
        </div>
    </div>
</div>

</div>

    <footer class="footer">
    <P>Edgar Altuve</P>
    <div class="social">
        <div>
            <a href="https://www.instagram.com/soynic0?igsh=MXcycXE4cTRoeXRkMg=="><i class="bi bi-instagram"></i></a>
        </div>
        <div>
            <a href="https://wa.me/qr/5QCTD5ZU5QOKB1"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>