<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clinica Altuve Tu Salud en las mejores manos">
    <meta name="keywords" content="Clinica, Clinica los angeles de chile, Clinica los Andes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Clinica|Altuve</title>
</head>
<body>

    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img class="img-logo" src="../img/clinica_altuve.png" alt="LOGO DE CLINICA ALTUVE"></a>
                </div>
                <nav class="nav">
                    <a href="../index.html"><i class="bi bi-house-door-fill"></i>Inicio</a>
                    <a href="#"><i class="bi bi-droplet-fill"></i>Laboratorio</a>
                    <a href="./imagenologia.html"><i class="bi bi-radioactive"></i>Imagenologia</a>
                    <a href="./especialistas.html"><i class="bi bi-person-badge-fill"></i>Especialistas</a>
                    <a href="./procedimientos.html"><i class="bi bi-bandaid-fill"></i>Procedimientos</a>
                </nav>
            </div>
        </header>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/lab1.jpg" class="d-block w-100" alt="IMAGEN DE CARRUSEL">
            </div>
            <div class="carousel-item">
                <img src="../img/lab2.jpg" class="d-block w-100" alt="IMAGEN DE CARRUSEL">
            </div>
            <div class="carousel-item">
                <img src="../img/lab3.jpg" class="d-block w-100" alt="IMAGEN DE CARRUSEL">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="parent">
        <div class="div1">
            <h2>Sangre</h2>
            <ul>
                <li>Biometría</li>
                <li>Grupo Sanguineo</li>
                <li>T. Coagulación</li>
                <li>Colésterol</li>
                <li>Triglicéridos</li>
                <li>LDL-HDL</li>
                <li>Glucosa</li>
                <li>Urea</li>
                <li>Creatinina</li>
                <li>Ácido úrico</li>
                <li>TGO/TGP</li>
                <li>Amilasa</li>
                <li>Lipasa</li>
            </ul>
        </div>
        <div class="div2">
            <h2>Electrolitos</h2>
            <ul>
                <li>Sodio</li>
                <li>Potasio</li>
                <li>Cloro</li>
                <li>Hierro</li>
                <li>Fósforo</li>
                <li>Magnesio</li>
                <li>Calcio</li>
            </ul>
        </div>
        <div class="div3">
            <h2>Orina</h2>
            <ul>
                <li>Físico</li>
                <li>Químico</li>
                <li>Sedimento</li>
                <li>Urocultivo</li>
            </ul>
            <h2>Heces</h2>
            <ul>
                <li>Parásitos</li>
                <li>Sangre oculta en heces</li>
                <li>Citologia fecal</li>
                <li>Coprocultivo</li>
            </ul>
        </div>
        <div class="div4">
            </div>
        <div class="div5">
            <h2>Otras Pruebas</h2>
            <ul>
                <li>Marcadores Tumorales</li>
                <li>TORCH</li>
                <li>VIH-VDRL</li>
                <li>Pruebas tiroideas</li>
                <li>Perfil hormonal</li>
                <li>Prueba de Embarazo</li>
            </ul>
        </div>
        <div class="div6"><h2>Y MUCHO MÁS</h2></div>
    </div>


    <footer class="footer">
        <p>Edgar Altuve</p>
        <div class="social">
            <div>
                <a href="https://www.instagram.com/soynic0?igsh=MXcycXE4cTRoeXRkMg=="><i class="bi bi-instagram"></i></a>
            </div>
            <div>
                <a href="https://wa.me/qr/5QCTD5ZU5QOKB1"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>